/* General Styles */
html {
    font-size: 2vw;
    font-family: "Roboto", Helvetica, sans-serif;
}

p {
    font-size: 16px;
    font-family: Courier, monospace;
}

p+p {
    margin-top: 15px;
}

button {
    color: black;
}

em {
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

/* Header Styles */
header {
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 75px;
    width: 100%;
    padding: 5px 20px;
    z-index: 1;
}

#logo {
    height: 65px;
}

#logo img {
    height: 100%;
}

.nav-links {
    display: inline;
    font-size: 18px;
}

.nav-links+.nav-links::before {
    color: white;
    content: "|";
}

.nav-links a {
    display: inline-block;
    padding: 15px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
    background-color: #222;
}

/* Main Styles */
main {
    position: relative;
    top: 75px;
}

/* Page Hero */
#page-hero {
    background-image: url("../images/Page_Hero_Img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}

#page-hero h1 {
    background-color: #fffa;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 500;
}

/* Play Banner */
#play-banner {
    padding: 25px;
    background-color: white;
    display: grid;
    grid-template-areas: "article button1"
                         "article button2"
                         "article .";
    grid-template-rows: repeat(2, 1.5em) 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

#play-banner article {
    grid-area: article;
}

#button-one {
    grid-area: button1;
}

#button-two {
    grid-area: button2;
}

.play-buttons {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 0.75rem;
}

.play-buttons:hover,
.play-buttons:focus,
.play-buttons:active {
    background-color: #ddd;
}

/* Mission Banner */
#mission-banner {
    color: white;
    background-image: url("../images/Background-Img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mission-banner div {
    background-color: #0008;
    padding: 25px;
}

/* Gameplay Banner */
#gameplay-banner {
    padding: 25px;
    background-color: #B2D5FF;
}

#slideshow {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#slideshow button {
    width: 3.5em;
    height: 2.5em;
    font-size: 1rem;
    background-color: #9BCAFF;
    border: 5px solid #3392FE;
    border-radius: 10px;
}

#slideshow-container {
    display: inline-grid;
    grid-template: 1fr / 1fr;
    width: 75%;
}

#slideshow-container figure {
    grid-area: 1 / 1 / 1 / 1;
    padding: 0.75rem;
    background-color: #68AFFF;
    border-radius: 20px;
}

#slideshow-container img {
    width: 100%;
    border-radius: 10px;
}

figcaption {
    margin-top: 0.25rem;
}

figcaption h3 {
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    header nav {
        display: none;
    }

    #logo {
        margin: 0 auto;
    }

    #page-hero h1 {
        font-size: 38.4px;
    }

    #play-banner {
        grid-template-areas: "button1 button2"
                             "article article";
        grid-template-rows: 3em 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .play-buttons {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 425px) {
    #play-banner {
        grid-template-areas: "button1"
                             "button2"
                             "article";
        grid-template-rows: repeat(2, 5em) 1fr;
        grid-template-columns: 1fr;
    }

    .play-buttons {
        font-size: 2.5rem;
    }
}
